<div class="container"> 

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <div class="row" *ngIf="_conventionDeStagelist.length">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Recherche par Etudiant / Email / Date" id="txtSearch" [(ngModel)]="mots_cles"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit" (click)="fetchDepotConvention_de_stageListParRecherche()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div><br>

  <div *ngIf="_conventionDeStagelist.length">
    <h2>Liste des conventions de stages</h2>
    <table class="table">
        <thead>
          <tr>
            <th>Etudiant</th>
            <th>Email</th>
            <th>Date</th>
            <th>Etat</th>
            <!--<th>Actions</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let conventionDeStage of _conventionDeStagelist">
            <td>{{conventionDeStage.etudiant?.username}}</td>
            <td>{{conventionDeStage.etudiant?.email}}</td>
            <td>{{conventionDeStage.toDisplayDateDepot}}</td>
            <td>{{conventionDeStage.etatDepot}}</td>
            <!--<td>
              <button class="btn btn-light" style="color: dimgray; font-size: 20px" (click)="goToListFileDepotConventionDeStagePourAdmin(conventionDeStage.etudiant?.id, conventionDeStage.etudiant?.email, conventionDeStage.id)">Traiter</button>
            </td>-->
          </tr>
        </tbody>
    </table>
  </div><br>

  <div *ngIf="!_conventionDeStagelist.length">
    <p>Pas de Conventions de stages</p>          
  </div><br>

    <button class="btn btn-light" style="color: dimgray; font-size: 24px" (click)="goToListDepotConventionDeStageDEPOSEEPourAdmin()">Traiter les dépôts non encore traités</button>

</div>
