<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<br>
<div class="container"> 
  <!-- Pour les icons des bouttons -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="row" *ngIf="_ListdocumentsDeStageDEPOSEE.length">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Recherche par Etudiant / Date" id="txtSearch" [(ngModel)]="mots_cles"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit" (click)="fetchListDocumentsDeStageDEPOSEEParRecherche()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div><br>

  <div *ngIf="_ListdocumentsDeStageDEPOSEE.length">
    <h2>Liste des demandes de stages déposées non encore traitées</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Etudiant</th>
          <th>Email</th>
          <th>Option</th>
          <th>Société</th>
          <th>Date Demande Stage/th>
          <th>Etat</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let documentsDeStageDEPOSEE of _ListdocumentsDeStageDEPOSEE">  
          <td>{{documentsDeStageDEPOSEE.nom_prenomEtudiant}}</td>
          <td>{{documentsDeStageDEPOSEE.emailEtudiant}}</td>
          <td>{{documentsDeStageDEPOSEE.optionEtudiant}}</td>
          <td>{{documentsDeStageDEPOSEE.nomSociete}}</td>
          <td>{{documentsDeStageDEPOSEE.dateDemande}}</td>
          <td>{{documentsDeStageDEPOSEE.etatDemande}}</td>
          <td>
            <button type="button" class="btn btn-light" (click)="accepterDemande(documentsDeStageDEPOSEE)">Accepter <i class="fa fa-check" aria-hidden="true"></i></button>&nbsp;&nbsp;
            <button type="button" class="btn btn-light" (click)="refuserDemande(documentsDeStageDEPOSEE)">Refuser
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!_ListdocumentsDeStageDEPOSEE.length">
    <p>Pas de Demandes de stages déposées</p>          
  </div><br>

  <a href="/listDocumentsDeStage"><i class="fa fa-angle-double-left"></i> Retour à la liste des demandes de stages</a>
  </div>
