<p>conventiondestagelist works!</p>
<div class="container"> 
    <h2>Convention de stage list</h2>
    <p>Choisir une action pour traiter une demande</p>            
    <table class="table">
      <thead>
        <tr>
          <th>Nom & Prenom Etudiant</th>
          <th>Email Etudiant</th>
          <th>Option</th>
          <th>Nom Société</th>
          <th>Adresse Société</th>
          <th>Téléphone Société</th>
          <th>Email Société</th>
          <th>Encadrant Société</th>
          <th>Encadrant Academique</th>
          <th>Date Début Stage</th>
          <th>Date Fin Stage</th>
          <th>Date Demande</th>
          <th>Etat Demande</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let documentsDeStageDEPOSEE of _ListdocumentsDeStageDEPOSEE">
          <td>{{documentsDeStageDEPOSEE.nom_prenomEtudiant}}</td>
          <td>{{documentsDeStageDEPOSEE.emailEtudiant}}</td>
          <td>{{documentsDeStageDEPOSEE.optionEtudiant}}</td>
          <td>{{documentsDeStageDEPOSEE.nomSociete}}</td>
          <td>{{documentsDeStageDEPOSEE.adresseSociete}}</td>
          <td>{{documentsDeStageDEPOSEE.telephoneSociete}}</td>
          <td>{{documentsDeStageDEPOSEE.emailSociete}}</td>
          <td>{{documentsDeStageDEPOSEE.encadrantSociete}}</td>
          <td>{{documentsDeStageDEPOSEE.encadrantAcademique}}</td>
          <td>{{documentsDeStageDEPOSEE.dateDebutStage}}</td>
          <td>{{documentsDeStageDEPOSEE.dateFinStage}}</td> 
          <td>{{documentsDeStageDEPOSEE.dateDemande}}</td>
          <td>{{documentsDeStageDEPOSEE.etatDemande}}</td>     
          <td>
            <button type="button" class="btn btn-primary" (click)="accepterDemande(documentsDeStageDEPOSEE)">Accepter</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="refuserDemande(documentsDeStageDEPOSEE)">Refuser</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="goToListDocumentsDeStage()">BACK</button>
  </div>
