<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<br>
<div class="container">
  <!-- Pour les icons des bouttons -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Recherche par Option / Session / Société" id="txtSearch" [(ngModel)]="mots_cles"/>
        <div class="input-group-btn"> 
          <button class="btn btn-primary" type="submit" (click)="fetchOffreDeStageListParRecherche()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div><br>

  <div *ngIf="_offreDeStagelist.length">
    <h2>Liste des Offres de stages</h2>
    <table class="table">
        <thead>
          <tr>
            <th>Option</th>
            <th>Session</th>
            <th>Société</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let offreDeStage of _offreDeStagelist">
              <td>{{offreDeStage.option}}</td>
              <td>{{offreDeStage.session}}</td>
              <td>{{offreDeStage.societe}}</td>   
              <td>
                <button class="btn btn-secondary" (click)="goToListFilesOffreDeStagePourAdmin(offreDeStage.id, offreDeStage.societe, offreDeStage.session, offreDeStage.option)"><i class="fa fa-eye"></i></button>
              </td>
            </tr>      
        </tbody>
    </table>
  </div><br>

  <div *ngIf="!_offreDeStagelist.length">
    <p>Pas d'Offres de stages</p>          
  </div><br>

  <a href="/uploadOffresDeStage">Ajouter une nouvelle Offre de stage <i class="fa fa-plus"></i></a>

</div>