<div class="container"> 

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Chercher par Etudiant/Encadrant" id="txtSearch" [(ngModel)]="mots_cles"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit" (click)="fetchDocumentsDeStageListParRecherche()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!mots_cles?.length">
    //afficher la table est désafficher "Aucune Demande de stage"
  </div>

  <div *ngIf="_documentsDeStagelist.length">
    <h2>Liste des Demandes de stage</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nom & Prenom Etudiant</th>
          <th>Email Etudiant</th>
          <th>Option</th>
          <th>Nom Société</th>
          <th>Adresse Société</th>
          <th>Téléphone Société</th>
          <th>Email Société</th>
          <th>Encadrant Société</th>
          <th>Encadrant Academique</th>
          <th>Date Début Stage</th>
          <th>Date Fin Stage</th>
          <th>Date Demande Stage</th>
          <th>Etat Demande</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let documentsDeStage of _documentsDeStagelist">
          <td>{{documentsDeStage.nom_prenomEtudiant}}</td>
          <td>{{documentsDeStage.emailEtudiant}}</td>
          <td>{{documentsDeStage.optionEtudiant}}</td>
          <td>{{documentsDeStage.nomSociete}}</td>
          <td>{{documentsDeStage.adresseSociete}}</td>
          <td>{{documentsDeStage.telephoneSociete}}</td>
          <td>{{documentsDeStage.emailSociete}}</td>
          <td>{{documentsDeStage.encadrantSociete}}</td>
          <td>{{documentsDeStage.encadrantAcademique}}</td>
          <td>{{documentsDeStage.dateDebutStage}}</td>
          <td>{{documentsDeStage.dateFinStage}}</td> 
          <td>{{documentsDeStage.dateDemande}}</td>
          <td>{{documentsDeStage.etatDemande}}</td>    
          <td>
            <button type="button" class="btn btn-primary" (click)="goToEditDocumentsDeStage(documentsDeStage.id)">Edit</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-info" (click)="goToViewDocumentsDeStage(documentsDeStage.id)">View</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="deleteDocumentsDeStage(documentsDeStage.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!_documentsDeStagelist.length">
    <p>Aucune Demande de stage</p>          
  </div> 

    <button type="button" class="btn btn-success" (click)="goToAddDocumentsDeStage()">Add new Documents de stage</button>
    <button type="button" class="btn btn-success" (click)="goToListDocumentsDeStageDEPOSEE()">Documents de stage non encore traités</button>

  </div>
