  <div class="container">
    <!-- Pour les icons des bouttons -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <div class="row" *ngIf="_listEncadrant.length">
      <div class="col-xs-6 col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Recherche par Encadrant Académique" id="txtSearch" [(ngModel)]="mots_cles"/>
          <div class="input-group-btn">
            <button class="btn btn-primary" type="submit" (click)="fetchAcademicsSupervisorListParRecherche()">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </div>
    </div><br>

<div *ngIf="_listEncadrant.length">
  <h2>Liste des Encadrants Académiques</h2>         
  <table class="table">
    <thead>
      <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listEncadrant of _listEncadrant">
          <td>{{listEncadrant.username}}</td>
          <td>{{listEncadrant.email}}</td>   
        <td>
          <button class="btn btn-light" (click)="goToListeEtudiantPourEncadrantAffectaion(listEncadrant.id)"><i class="fa fa-eye"></i> Voir la liste des Etudiants affectés</button>
        </td>
      </tr>
    </tbody>
  </table>
</div><br>

<div *ngIf="!_listEncadrant.length">
  <p>Pas d'Affectations</p>          
</div><br>

<button class="btn btn-light" style="color: dimgray; font-size: 24px" (click)="goToAddAffectation()">Ajouter une nouvelle Affectation <i class="fa fa-plus"></i></button>&nbsp;

</div>