<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Ajouter une offre de stage</title>
    </head>

  <body>

    <div class="container">
        <div class="heading">Offre de stage</div>
        
        <form 
             name="form" 
             (ngSubmit)="f.form.valid" 
             #f="ngForm" 
             novalidate
        >
        
            <div class="card-details">
    
                <div class="card-box">
                    <span class="details">Option</span>
                    <select
                            type="text"
                            class="form-control"
                            name="option"
                            required
                            [(ngModel)]="offreDeStage.option"
                            #option="ngModel"
                            [class.is-invalid]="option.invalid && option.touched"
                    >
                            <option value="Software Architecture Engineering">Software Architecture Engineering</option>
                            <option value="Développement Web">Développement Web</option>
                            <option value="Développement Mobile">Développement Mobile</option>
                            <option value="Data Science">Data Science</option>
                            <option value="Big Data">Big Data</option>
                            <option value="Business Intelligence">Business Intelligence</option>
                            <option value="Cloud">Cloud</option>
                            <option value="Intelligence Artificielle et Machine Learning">Intelligence Artificielle et Machine Learning</option>             
                    </select>
                    <div *ngIf=" f.submitted || (option.errors && (option.invalid && option.touched))">
                        <small class="text-danger" *ngIf="option.errors?.['required']">Option est un champ obligatoire</small>
                    </div>
                </div>
        
                <div class="card-box">
                    <span class="details">Session</span>
                    <input
                        type="text" 
                        class="form-control"
                        name="session" 
                        required 
                        [(ngModel)]="offreDeStage.session"
                        minlength="4"
                        maxlength="50"
                        #session="ngModel"
                        [class.is-invalid]="session.invalid && session.touched"
                    />
                    <div *ngIf=" f.submitted || (session.errors && (session.invalid && session.touched))">
                    <small class="text-danger" *ngIf="session.errors?.['required']">Session est un champ obligatoire</small>
                    <small class="text-danger" *ngIf="session.errors?.['minlength']">Session doit contenir au moins 4 caractères</small>
                    <small class="text-danger" *ngIf="session.errors?.['maxlength']">Session doit comporter au maximum 50 caractères</small>
                    </div>
                </div>
         
                <div class="card-box">
                    <span class="details">Société</span>
                    <input
                        type="text" 
                        class="form-control"
                        name="societe" 
                        required 
                        [(ngModel)]="offreDeStage.societe"
                        minlength="3"
                        maxlength="20"
                        #societe="ngModel"
                        [class.is-invalid]="societe.invalid && societe.touched"
                    />
                    <div *ngIf=" f.submitted || (societe.errors && (societe.invalid && societe.touched))">
                        <small class="text-danger" *ngIf="societe.errors?.['required']">Société est un champ obligatoire</small>
                        <small class="text-danger" *ngIf="societe.errors?.['minlength']">Société doit contenir au moins 3 caractères</small>
                        <small class="text-danger" *ngIf="societe.errors?.['maxlength']">Société doit comporter au maximum 50 caractères</small>
                    </div>
                </div>
        
                <div class="card-box">
                    <span class="details">Importer un fichier</span>
                    <input
                            [disabled]="option.errors?.['required'] || session.errors?.['required'] || societe.errors?.['required']" 
                            type="file" 
                            (change)="selectFile($event)"
                    />
                </div>

            </div>

            <div class="button">
                <input 
                    [disabled]="option.errors?.['required'] || session.errors?.['required'] || societe.errors?.['required']" 
                    type="submit" 
                    value="Confirmer"
                    (click)="upload()"
                >&nbsp;&nbsp;
                <!--<input 
                    type="submit"
                    value="Annuler"
                    (click)="goToList()"
                >-->
            </div>
            
            <div *ngIf="message" class="alert alert-success" role="alert">{{ message }}</div>
            <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{ errorMsg }}</div>
        
        </form>

    </div>
            
  </body>

</html>
