<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
      <a routerLink="/listUser">Gestion des utilisateurs</a><br>
      <a routerLink="/listDocumentsDeStage">Gestion des demandes de stage</a><br>
      <a routerLink="/uploadFile">Upload Files</a><br>
      <a routerLink="/uploadRapports">Upload Rapports</a><br>
      <a routerLink="/uploadRapportsDeStage">Upload Rapports de stage</a><br>
      <a routerLink="/uploadOffresDeStage">Upload Offres de stage</a><br>
      <!--<app-navigation></app-navigation>-->
    </header>
  </div>