<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
      <a routerLink="/listUser">Gérer les utilisateurs</a><br>
      <a routerLink="/editUserByHimself">Modifier mon compte</a><br>
      <a routerLink="/listDocumentsDeStage">Gérer les demandes de stage PFE</a><br>
      <a routerLink="/listDepotConventionDeStagePourAdmin">Gérer les conventions de stage PFE</a><br>
      <a routerLink="/listeAffectations">Gérer les affectations</a><br>
      <a routerLink="/listOffresDeStagePourAdmin">Gérer la bibliothèque des Offres de stage PFE</a><br>
      <a routerLink="/listRapportsDeStagePourAdmin">Gérer la bibliothèque des Rapports de stage PFE</a><br>
      <a routerLink="/rendez-vousDeStagePourAdmin">Gérer les Rendez-vous de stage PFE</a><br>
      <a routerLink="/fichesDeStagePourAdmin">Gérer la documentation de stage PFE</a><br>
      <a routerLink="/dashboardAdmin">Admin Dashboard</a><br>
      <!--<app-navigation></app-navigation>-->
    </header>
  </div>