<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
      <a routerLink="/listUser">Gestion des utilisateurs</a><br>
      <a routerLink="/listDocumentsDeStage">Gestion des demandes de stage</a><br>
      <a routerLink="/uploadRapportsDeStage">Upload Rapports de stage</a><br>
      <a routerLink="/uploadOffresDeStage">Upload Offres de stage</a><br>
      <a routerLink="/email">Sending Email</a><br>
      <a routerLink="/chart">Chart</a><br>
      <a routerLink="/affectation">Gérer les affectations</a><br>
      <a routerLink="/dashboardAdmin">Admin Dashboard</a><br>
      <!--<app-navigation></app-navigation>-->
    </header>
  </div>