
    <h1 class="h1">Déposer vos livrables</h1>

    <div class="scrollmenu">
        <a routerLink="/Convention_de_stage">Convention de stage<br>
            <img src="../assets/images/convention.png"/><br>
            <p>Date du dépot : 21/05/2022</p><br>
            <p>Etat du dépot : DEPOSEE</p>
        </a>
        <a href="#Fiche_de_stage">Fiche de stage<br>
            <img src="../assets/images/fiche.png"/><br>
            <p>Date du dépot : 21/05/2022</p><br>
            <p>Etat du dépot : DEPOSEE</p>
        </a>
        <a href="#Bilan_périodique_début_du_stage">Bilan périodique début du stage<br>
            <img src="../assets/images/bilan.png"/><br>
            <p>Date du dépot : 21/05/2022</p><br>
            <p>Etat du dépot : DEPOSEE</p>
        </a>
        <a href="#Bilan_périodique_milieu_du_stage">Bilan périodique milieu du stage<br>
            <img src="../assets/images/bilan.png"/><br>
            <p>Date du dépot : 21/05/2022</p><br>
            <p>Etat du dépot : DEPOSEE</p>
        </a>
        <a href="#Bilan_périodique_fin_du_stage">Bilan périodique fin du stage<br>
            <img src="../assets/images/bilan.png"/><br>
            <p>Date du dépot : 21/05/2022</p><br>
            <p>Etat du dépot : DEPOSEE</p>
        </a>
        <a href="#Rapport_premiere_version">Rapport premiere version<br>
            <img src="../assets/images/rapport.jpg"/><br>
            <p>Date du dépot : 21/05/2022</p><br>
            <p>Etat du dépot : DEPOSEE</p>
        </a>
        <a href="#Rapport_version_finale">Rapport version finale<br>
            <img src="../assets/images/rapport.jpg"/><br>
            <p>Date du dépot : 21/05/2022</p><br>
            <p>Etat du dépot : DEPOSEE</p>
        </a>
        <a href="#Journal_de_stage">Journal de stage<br>
            <img src="../assets/images/journal.png"/><br>
            <p>Date du dépot : 21/05/2022</p><br>
            <p>Etat du dépot : DEPOSEE</p>
        </a>
    </div>