<div class="container"> 

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Chercher par Username/Email" id="txtSearch" [(ngModel)]="mots_cles"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit" (click)="fetchListUsersParRecherche()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="listUsers.length">
    <h2>Liste des utilisateurs</h2>
    <p>Use actions to  perform crud operations</p>            
    <table class="table">
      <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listUsers">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>
              <div *ngIf="user.roles">{{user.roles[0].name}}</div>
            </td>     
          <td>
            <button type="button" class="btn btn-primary" (click)="goToEditUser(user.id)">Edit</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-info" (click)="goToViewUser(user.id)">View</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!listUsers.length">
    <p>Aucun utilisateur</p>          
  </div>

  <button type="button" class="btn btn-success" (click)="goToAddUser()">Add new User</button>

  </div>
