<div class="form-group">
    <label>Choisir un encadrant:</label>
    <select class="form-control" name="encadrant" [(ngModel)]="encadrant_id">
        <option *ngFor="let listEncadrant of _listEncadrant" value="{{listEncadrant.id}}">{{listEncadrant.username}}</option>
    </select>
</div>  

<div class="form-group">
    <label>Choisir un étudiant:</label>
    <select class="form-control" name="encadrant" [(ngModel)]="etudiant_id">
        <option *ngFor="let listEtudiant of _listEtudiant" value="{{listEtudiant.id}}">{{listEtudiant.username}}</option>
    </select>
</div>  

<div class="form-group">
    <button class="btn btn-primary btn-block" (click)="affecter()">Affecter</button>
</div>