<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->

<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Modifier commentaire</title>
  </head>

  <body>

    <div class="container">

      <div class="heading">Modifier commentaire</div><br>

      <div class="card-details">

        <div class="card-box">
          <input
                type="text" 
                class="form-control"
                name="contenu"
                [(ngModel)]="commentaire.contenu"
                #contenu="ngModel"
          />
        </div>

      </div><br>

      <div class="button">
        <input 
              type="submit" 
              value="Confirmer"
              (click)="onSubmit()"
        >&nbsp;&nbsp;
        <input 
              type="submit" 
              value="Annuler"
              (click)="annuler()"
        >
      </div>

    </div>

  </body>

</html>
