
    <h1 class="h1">Traitement des livrables</h1>

    <div class="scrollmenu">
        <a (click)="goToEncadrantDepotConvention_de_stage(etudiant_email)">Convention de stage<br>
            <img src="../assets/images/convention.png"/><br>
            <p>Date dépot : {{depotConvention_de_stage.dateDepot}}</p><br>
            <p>Etat dépot : {{depotConvention_de_stage.etatDepot}}</p>
        </a>
        <a (click)="goToEncadrantDepotFiche_de_stage(etudiant_email, etudiant_id)">Fiche de stage<br>
            <img src="../assets/images/fiche.png"/><br>
            <p>Date dépot : {{depotFiche_de_stage.dateDepot}}</p><br>
            <p>Etat dépot : {{depotFiche_de_stage.etatDepot}}</p>
        </a>
        <a (click)="goToEncadrantDepotBilan_periodique_debut_du_stage(etudiant_email, etudiant_id)">Bilan périodique début du stage<br>
            <img src="../assets/images/bilan.png"/><br>
            <p>Date dépot : {{depotBilan_periodique_debut_du_stage.dateDepot}}</p><br>
            <p>Etat dépot : {{depotBilan_periodique_debut_du_stage.etatDepot}}</p>
        </a>
        <a (click)="goToEncadrantDepotBilan_periodique_milieu_du_stage(etudiant_email, etudiant_id)">Bilan périodique milieu du stage<br>
            <img src="../assets/images/bilan.png"/><br>
            <p>Date dépot : {{depotBilan_periodique_milieu_du_stage.dateDepot}}</p><br>
            <p>Etat dépot : {{depotBilan_periodique_milieu_du_stage.etatDepot}}</p>
        </a>
        <a (click)="goToEncadrantDepotBilan_periodique_fin_du_stage(etudiant_email, etudiant_id)">Bilan périodique fin du stage<br>
            <img src="../assets/images/bilan.png"/><br>
            <p>Date dépot : {{depotBilan_periodique_fin_du_stage.dateDepot}}</p><br>
            <p>Etat dépot : {{depotBilan_periodique_fin_du_stage.etatDepot}}</p>
        </a>
        <a (click)="goToEncadrantDepotRapport_premiere_version(etudiant_email, etudiant_id)">Rapport premiere version<br>
            <img src="../assets/images/rapport.jpg"/><br>
            <p>Date dépot : {{depotRapport_premiere_version.dateDepot}}</p><br>
            <p>Etat dépot : {{depotRapport_premiere_version.etatDepot}}</p>
        </a>
        <a (click)="goToEncadrantDepotRapport_version_finale(etudiant_email, etudiant_id)">Rapport version finale<br>
            <img src="../assets/images/rapport.jpg"/><br>
            <p>Date dépot : {{depotRapport_version_finale.dateDepot}}</p><br>
            <p>Etat dépot : {{depotRapport_version_finale.etatDepot}}</p>
        </a>
        <a (click)="goToEncadrantDepotJournal_de_stage(etudiant_email, etudiant_id)">Journal de stage<br>
            <img src="../assets/images/journal.png"/><br>
            <p>Date dépot : {{depotJournal_de_stage.dateDepot}}</p><br>
            <p>Etat dépot : {{depotJournal_de_stage.etatDepot}}</p>
        </a>
    </div>