<div class="container"> 

    <br>
    <h2>Liste des Etudiants</h2>
    <table class="table">
      <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of listStudents">
            <td>{{student.username}}</td>
            <td>{{student.email}}</td>   
          <td>
            <button class="btn btn-light" style="color: dimgray; font-size: 20px" (click)="goToEncadrantDepot(student.id, student.email)">Traiter les Dépots</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>