<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>-->

<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Modifier mon compte</title>
  </head>

  <body>

    <div class="container">
      <div class="heading">Mon compte</div><br>

           <!--<img
            id="profile-img"
            src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
            class="profile-img-card"
          />-->

          <div class="wrapper">
            <input type="file" class="my_file">
          </div>

          <form
            *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
          >

          <div class="card-details">

            <div class="card-box">
                <span for="username">Username</span>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  [(ngModel)]="user.username"
                  required
                  minlength="3"
                  maxlength="50"
                  #username="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                  <small *ngIf="username.errors?.['required']">Username est un champ obligatoire</small>
                <small *ngIf="username.errors?.['minlength']">Username doit contenir au moins 3 caractères</small>
                <small *ngIf="username.errors?.['maxlength']">Username doit comporter au maximum 50 caractères</small>
                </div>
              </div>

              <div class="card-box">
                <span for="email">Email</span>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  [(ngModel)]="user.email"
                  required
                  email
                  #email="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                  <small *ngIf="email.errors?.['required']">Username est un champ obligatoire</small>
                  <small *ngIf="email.errors?.['email']">Le champ e-mail doit être une adresse e-mail valide</small>
                </div>
              </div>

              <div class="card-box">
                <span for="password">Password</span>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  [(ngModel)]="user.password"
                  placeholder="Entrer un nouveau mot de passe"
                  required
                  minlength="8"
                  maxlength="120"
                  #password="ngModel"
                />
                <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                  <small *ngIf="password.errors?.['required']">Password est un champ obligatoire</small>
                  <small *ngIf="password.errors?.['minlength']">Password doit contenir au moins 8 caractères</small>
                  <small *ngIf="password.errors?.['maxlength']">Username doit comporter au maximum 120 caractères</small>
                </div>
              </div>

          </div>
    
            <div class="button">
              <input
              type="submit"
              value="Confirmer" 
              >
            </div>
      
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              Signup failed!<br />{{ errorMessage }}
            </div>

          </form>
      
          <div class="alert alert-success" *ngIf="isSuccessful">
            User's registry is successful!
          </div>

    </div>
       
  </body>

</html>
    
  