<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<br>
<div class="container">
  <!-- Pour les icons des bouttons -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="row" *ngIf="_rapportDeStagelist.length">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Recherche par Option / Session / Encadrant Académique" id="txtSearch" [(ngModel)]="mots_cles"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit" (click)="fetchRappportDeStageListParRecherche()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div><br>

  <div *ngIf="_rapportDeStagelist.length">
    <h2>Liste des Rapports de stages</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Option</th>
          <th>Session</th>
          <th>Encadrant Académique</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rapportDeStage of _rapportDeStagelist">
          <td>{{rapportDeStage.option}}</td>
          <td>{{rapportDeStage.session}}</td>
          <td>{{rapportDeStage.encadrant}}</td>   
          <td>
            <button class="btn btn-secondary" (click)="goToListFilesRapportDeStagePourEtudiant(rapportDeStage.session, rapportDeStage.option, rapportDeStage.encadrant)"><i class="fa fa-eye"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="!_rapportDeStagelist.length">
    <p>Pas de Rapports de stages</p>          
  </div> 

</div>